
img {
    height: 100vh;
    width: 100vw;
    object-fit: cover; 
   
  }
  

  .carousel-item {
    position: relative; 
  }
  
  
  .caption {
    position: absolute; 
    top: 50%;
    left: 0 !important;
    transform: translateY(-50%); 
    color: white;
    text-align: left !important;
    padding: 0 20px;
    width: 100%; 
  }
  
  
  .caption h3 {
    font-family: cursive;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  
  .caption p {
    color: yellow;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: lighter;
    max-width: 600px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  }
  
  /* Media queries for smaller screens */
  @media (max-width: 768px) {
    .caption {
      top: auto;
      bottom: 0;
      padding: 15px;
      text-align: center;
    }
  
    .caption h3 {
      font-size: 1.5rem;
    }
  
    .caption p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .caption h3 {
      font-size: 1.5rem;
    }
  
    .caption p {
      font-size: 0.9rem;
    }
  
    .caption {
      padding: 10px;
      text-align: center;
    }
  }
  